$grey_darkest: #333;
$grey_darker: #666;
$grey_dark: #999;
$grey: #eaeaea;
$grey_light: #f7f7f7;
$white: #fff;

$color-primary_dark: #7033ac;
$color-primary: #a65cf0;
$color-primary_light: #c998fb;
$color-primary_lighter: #ebd1ff;
$color-primary_lighest: #f8efff;

$color-secondary_dark: #bb370e;
$color-secondary: #ff862f;
$color-secondary_light: #ffbd59;
$color-secondary_lighter: #fff5d1;

$color-error: #ff6972;
$color-success: #b8ec64;
