@import 'colors';

$gap: 32px;
$gap-sm: 16px;

$section-gap: 70px;

$card-padding: 30px;
$card-padding-sm: 16px;

$container-padding-x: 36px;
$container-padding-x-md: 72px;
$container-padding-x-sm: 12px;

$subheader-padding-y: 15px;
$subheader-padding-y-xl: 20px;
$subheader-padding-y-sm: 50px;

$text-color: $grey_darkest;
